@import "null.css";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

/* =================//================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	max-width: 810px;
	margin: 0px auto;
	font-family: "lato", sans-serif;
	font-size: 16px;
	line-height: 160%;
	color: #424551;
}
/* =================//================ */

h1 {
	font-size: 46px;
	font-weight: 900;
	color: #1e212c;
	line-height: 130%;
	margin: 0px 0px 92px 0px;
}

.img__figma {
	margin: 0px 0px 60px 0px;
}

.up__paragraph-1 {
	font-size: 20px;
	font-weight: 700;
	color: #1e212c;
	line-height: 150%;
	margin: 0px 0px 24px 0px;
}

.up__paragraph-2-1 {
	margin: 0px 0px 40px 0px;
}

.up__paragraph-2-2 {
	margin: 0px 0px 48px 0px;
}

.center__paragraph {
	font-size: 20px;
	font-weight: 700;
	line-height: 150%;
	color: #1e212c;
	padding: 0px 0px 0px 58px;
	margin: 0px 0px 48px 0px;
}

.bottom__paragraph-1 {
	margin: 0px 0px 24px 0px;
}

.bottom__list {
	padding: 0px 0px 0px 32px;
}

.item.list {
	margin: 0px 0px 4px 0px;
}

.item.list__last {
	margin: 0px 0px 24px 0px;
}

.bottom__block-2 {
	margin: 0px 0px 60px 0px;
}
